/* ============================================================
   GENAI CHATBOT - SAFE REDEPLOY SCRIPT
   Drops if exists → Recreates everything
   ============================================================ */

USE GenAI_Chatbot;
GO

------------------------------------------------------------
-- 1️⃣ DROP STORED PROCEDURES FIRST
------------------------------------------------------------

IF OBJECT_ID('GenAI.sp_GetLLMProvider', 'P') IS NOT NULL
    DROP PROCEDURE GenAI.sp_GetLLMProvider;
GO

IF OBJECT_ID('GenAI.sp_InsertPromptLog', 'P') IS NOT NULL
    DROP PROCEDURE GenAI.sp_InsertPromptLog;
GO

IF OBJECT_ID('GenAI.sp_InsertErrorLog', 'P') IS NOT NULL
    DROP PROCEDURE GenAI.sp_InsertErrorLog;
GO

IF OBJECT_ID('GenAI.sp_UpsertLLMProvider', 'P') IS NOT NULL
    DROP PROCEDURE GenAI.sp_UpsertLLMProvider;
GO

------------------------------------------------------------
-- 2️⃣ DROP TABLES (CHILD FIRST → PARENT LAST)
------------------------------------------------------------

IF OBJECT_ID('GenAI.SensitiveAudit', 'U') IS NOT NULL
    DROP TABLE GenAI.SensitiveAudit;
GO

IF OBJECT_ID('GenAI.SensitiveDataRules', 'U') IS NOT NULL
    DROP TABLE GenAI.SensitiveDataRules;
GO

IF OBJECT_ID('GenAI.PromptLog', 'U') IS NOT NULL
    DROP TABLE GenAI.PromptLog;
GO

IF OBJECT_ID('GenAI.ErrorLog', 'U') IS NOT NULL
    DROP TABLE GenAI.ErrorLog;
GO

IF OBJECT_ID('GenAI.FileMetadata', 'U') IS NOT NULL
    DROP TABLE GenAI.FileMetadata;
GO

IF OBJECT_ID('GenAI.EmbeddingProviderConfig', 'U') IS NOT NULL
    DROP TABLE GenAI.EmbeddingProviderConfig;
GO

IF OBJECT_ID('GenAI.LLMProviderConfig', 'U') IS NOT NULL
    DROP TABLE GenAI.LLMProviderConfig;
GO

IF OBJECT_ID('GenAI.AppConfig', 'U') IS NOT NULL
    DROP TABLE GenAI.AppConfig;
GO

------------------------------------------------------------
-- 3️⃣ RECREATE TABLES
------------------------------------------------------------

CREATE TABLE GenAI.AppConfig
(
    ConfigID        INT IDENTITY(1,1) PRIMARY KEY,
    ConfigType      NVARCHAR(50) NOT NULL,
    ConfigValue     NVARCHAR(500) NOT NULL,
    IsActive        BIT NOT NULL DEFAULT 1,
    Description     NVARCHAR(200) NULL,
    ApplicationName NVARCHAR(100) NOT NULL,
    CreatedDate     DATETIME NOT NULL DEFAULT GETDATE(),
    ModifiedDate    DATETIME NOT NULL DEFAULT GETDATE(),
    CreatedBy       NVARCHAR(100) NULL,
    ModifiedBy      NVARCHAR(100) NULL,
    CONSTRAINT UQ_AppConfig UNIQUE (ConfigType, ApplicationName)
);
GO

CREATE TABLE GenAI.LLMProviderConfig
(
    Id              INT IDENTITY(1,1) PRIMARY KEY,
    ProviderName    NVARCHAR(100) NOT NULL,
    ModelName       NVARCHAR(200) NOT NULL,
    ApiKeyEncrypted NVARCHAR(MAX) NOT NULL,
    EndpointUrl     NVARCHAR(500) NULL,
    IsActive        BIT NOT NULL DEFAULT 1,
    CreatedDate     DATETIME NOT NULL DEFAULT GETDATE(),
    CONSTRAINT UQ_LLMProvider UNIQUE (ProviderName)
);
GO

CREATE INDEX IX_LLMProvider_ProviderName
ON GenAI.LLMProviderConfig (ProviderName);
GO

CREATE TABLE GenAI.EmbeddingProviderConfig
(
    Id              INT IDENTITY(1,1) PRIMARY KEY,
    ProviderName    NVARCHAR(100) NOT NULL,
    ModelName       NVARCHAR(200) NOT NULL,
    ApiKeyEncrypted NVARCHAR(MAX) NULL,
    IsActive        BIT NOT NULL DEFAULT 1,
    CreatedDate     DATETIME NOT NULL DEFAULT GETDATE(),
    CONSTRAINT UQ_EmbeddingProvider UNIQUE (ProviderName)
);
GO

CREATE TABLE GenAI.PromptLog
(
    Id            INT IDENTITY(1,1) PRIMARY KEY,
    UserName      NVARCHAR(200) NOT NULL,
    ProviderName  NVARCHAR(100) NOT NULL,
    ModelName     NVARCHAR(200) NOT NULL,
    Question      NVARCHAR(MAX) NOT NULL,
    Response      NVARCHAR(MAX) NULL,
    TokensUsed    INT NULL,
    Department    NVARCHAR(100) NULL,
    CreatedDate   DATETIME NOT NULL DEFAULT GETDATE()
);
GO

CREATE INDEX IX_PromptLog_UserName 
ON GenAI.PromptLog (UserName);
GO

CREATE INDEX IX_PromptLog_CreatedDate 
ON GenAI.PromptLog (CreatedDate DESC);
GO

CREATE TABLE GenAI.ErrorLog
(
    Id           INT IDENTITY(1,1) PRIMARY KEY,
    UserId       NVARCHAR(200) NULL,
    ErrorType    NVARCHAR(200) NULL,
    ErrorMessage NVARCHAR(MAX) NOT NULL,
    StackTrace   NVARCHAR(MAX) NULL,
    CreatedDate  DATETIME NOT NULL DEFAULT GETDATE()
);
GO

CREATE TABLE GenAI.FileMetadata
(
    Id               INT IDENTITY(1,1) PRIMARY KEY,
    FileName         NVARCHAR(500) NOT NULL,
    OriginalFileName NVARCHAR(500) NULL,
    FileSize         BIGINT NULL,
    ContentType      NVARCHAR(200) NULL,
    FileExtension    NVARCHAR(50) NULL,
    FilePath         NVARCHAR(1000) NULL,
    Department       NVARCHAR(100) NULL,
    FingerPrint      NVARCHAR(500) NULL,
    DocumentType     NVARCHAR(200) NULL,
    UploadedDate     DATETIME NOT NULL DEFAULT GETDATE(),
    CreatedBy        NVARCHAR(200) NULL
);
GO

CREATE INDEX IX_FileMetadata_FileName
ON GenAI.FileMetadata(FileName);
GO

CREATE INDEX IX_FileMetadata_FingerPrint
ON GenAI.FileMetadata(FingerPrint);
GO

CREATE TABLE GenAI.SensitiveDataRules
(
    Id               INT IDENTITY(1,1) PRIMARY KEY,
    PatternName      NVARCHAR(200) NOT NULL,
    RegexPattern     NVARCHAR(MAX) NOT NULL,
    ReplacementValue NVARCHAR(200) NOT NULL,
    IsActive         BIT NOT NULL DEFAULT 1,
    CreatedDate      DATETIME NOT NULL DEFAULT GETDATE()
);
GO

CREATE TABLE GenAI.SensitiveAudit
(
    Id            INT IDENTITY(1,1) PRIMARY KEY,
    FileId        INT NULL,
    RuleId        INT NULL,
    DetectedValue NVARCHAR(500) NULL,
    MaskedValue   NVARCHAR(500) NULL,
    DetectedDate  DATETIME NOT NULL DEFAULT GETDATE(),
    FOREIGN KEY (FileId) REFERENCES GenAI.FileMetadata(Id),
    FOREIGN KEY (RuleId) REFERENCES GenAI.SensitiveDataRules(Id)
);
GO

------------------------------------------------------------
-- 4️⃣ RECREATE STORED PROCEDURES
------------------------------------------------------------

CREATE PROCEDURE GenAI.sp_GetLLMProvider
(
    @ProviderName NVARCHAR(100)
)
AS
BEGIN
    SELECT TOP 1 *
    FROM GenAI.LLMProviderConfig
    WHERE ProviderName=@ProviderName
      AND IsActive=1;
END;
GO

CREATE PROCEDURE GenAI.sp_InsertPromptLog
(
    @UserName NVARCHAR(200),
    @Provider NVARCHAR(100),
    @Model NVARCHAR(200),
    @Question NVARCHAR(MAX),
    @Response NVARCHAR(MAX),
    @TokensUsed INT=NULL,
    @Department NVARCHAR(100)=NULL
)
AS
BEGIN
    INSERT INTO GenAI.PromptLog
    (UserName,ProviderName,ModelName,Question,Response,TokensUsed,Department)
    VALUES
    (@UserName,@Provider,@Model,@Question,@Response,@TokensUsed,@Department);
END;
GO

CREATE PROCEDURE GenAI.sp_InsertErrorLog
(
    @UserId NVARCHAR(200),
    @ErrorType NVARCHAR(200),
    @ErrorMessage NVARCHAR(MAX),
    @StackTrace NVARCHAR(MAX)
)
AS
BEGIN
    INSERT INTO GenAI.ErrorLog
    (UserId,ErrorType,ErrorMessage,StackTrace)
    VALUES
    (@UserId,@ErrorType,@ErrorMessage,@StackTrace);
END;
GO

CREATE PROCEDURE GenAI.sp_UpsertLLMProvider
(
    @ProviderName NVARCHAR(100),
    @ModelName NVARCHAR(200),
    @ApiKeyEncrypted NVARCHAR(MAX),
    @EndpointUrl NVARCHAR(500)=NULL,
    @IsActive BIT=1
)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM GenAI.LLMProviderConfig WHERE ProviderName=@ProviderName)
        UPDATE GenAI.LLMProviderConfig
        SET ModelName=@ModelName,
            ApiKeyEncrypted=@ApiKeyEncrypted,
            EndpointUrl=@EndpointUrl,
            IsActive=@IsActive
        WHERE ProviderName=@ProviderName
    ELSE
        INSERT INTO GenAI.LLMProviderConfig
        (ProviderName,ModelName,ApiKeyEncrypted,EndpointUrl,IsActive)
        VALUES(@ProviderName,@ModelName,@ApiKeyEncrypted,@EndpointUrl,@IsActive);
END;
GO

PRINT 'GenAI Database Redeployed Successfully';
GO