USE [master]
GO
/****** Object:  Database [GenAI]    Script Date: 2/17/2026 3:06:25 PM ******/
CREATE DATABASE [GenAI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GenAI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GenAI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GenAI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GenAI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GenAI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GenAI]
GO
/****** Object:  Schema [appConfig]    Script Date: 2/17/2026 3:06:26 PM ******/
CREATE SCHEMA [appConfig]
GO
/****** Object:  Schema [Config]    Script Date: 2/17/2026 3:06:26 PM ******/
CREATE SCHEMA [Config]
GO
/****** Object:  Table [Config].[AppConfig]    Script Date: 2/17/2026 3:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Config].[AppConfig](
	[ConfigID] [int] IDENTITY(1,1) NOT NULL,
	[ConfigType] [nvarchar](50) NOT NULL,
	[Value] [nvarchar](200) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Description] [nvarchar](200) NOT NULL,
	[ApplicationName] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NOT NULL,
 CONSTRAINT [PK_AppConfig] PRIMARY KEY CLUSTERED 
(
	[ConfigID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_AppConfig_ConfigType_ApplicationName] UNIQUE NONCLUSTERED 
(
	[ConfigType] ASC,
	[ApplicationName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[application_logs]    Script Date: 2/17/2026 3:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[application_logs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RequestPayload] [text] NOT NULL,
	[ResponsePayload] [text] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatbotLogs]    Script Date: 2/17/2026 3:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatbotLogs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[query] [nvarchar](max) NULL,
	[response] [nvarchar](max) NULL,
	[timestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmbeddingProviderConfig]    Script Date: 2/17/2026 3:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmbeddingProviderConfig](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProviderName] [nvarchar](100) NOT NULL,
	[ModelName] [nvarchar](200) NOT NULL,
	[ApiKeyEncrypted] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorLog]    Script Date: 2/17/2026 3:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](200) NULL,
	[ErrorType] [nvarchar](200) NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[StackTrace] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FileMetadata]    Script Date: 2/17/2026 3:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileMetadata](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](500) NULL,
	[OriginalFileName] [nvarchar](500) NULL,
	[FileSize] [bigint] NULL,
	[ContentType] [nvarchar](200) NULL,
	[FileExtension] [nvarchar](50) NULL,
	[UploadedDate] [datetime] NULL,
	[FilePath] [nvarchar](1000) NULL,
	[Department] [nvarchar](100) NULL,
	[FingerPrint] [nvarchar](500) NULL,
	[DocumentType] [nvarchar](200) NULL,
	[CreatedBy] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LLMProviderConfig]    Script Date: 2/17/2026 3:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LLMProviderConfig](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProviderName] [nvarchar](100) NOT NULL,
	[ModelName] [nvarchar](200) NOT NULL,
	[ApiKeyEncrypted] [nvarchar](max) NOT NULL,
	[EndpointUrl] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PromptLog]    Script Date: 2/17/2026 3:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromptLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](200) NOT NULL,
	[ProviderName] [nvarchar](100) NOT NULL,
	[ModelName] [nvarchar](200) NOT NULL,
	[Question] [nvarchar](max) NOT NULL,
	[Response] [nvarchar](max) NULL,
	[TokensUsed] [int] NULL,
	[Department] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SensitiveAudit]    Script Date: 2/17/2026 3:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SensitiveAudit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileId] [int] NULL,
	[RuleId] [int] NULL,
	[DetectedValue] [nvarchar](500) NULL,
	[MaskedValue] [nvarchar](500) NULL,
	[DetectedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SensitiveDataRules]    Script Date: 2/17/2026 3:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SensitiveDataRules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatternName] [nvarchar](200) NULL,
	[RegexPattern] [nvarchar](max) NULL,
	[ReplacementValue] [nvarchar](200) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPromptLog]    Script Date: 2/17/2026 3:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPromptLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](200) NOT NULL,
	[Prompt] [nvarchar](max) NOT NULL,
	[ModelUsed] [nvarchar](100) NULL,
	[Provider] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[UserName] [nvarchar](200) NULL,
	[UserEmail] [nvarchar](200) NULL,
	[IPAddress] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FileMetadata_FileName]    Script Date: 2/17/2026 3:06:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_FileMetadata_FileName] ON [dbo].[FileMetadata]
(
	[FileName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LLMProvider_ProviderName]    Script Date: 2/17/2026 3:06:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_LLMProvider_ProviderName] ON [dbo].[LLMProviderConfig]
(
	[ProviderName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PromptLog_CreatedDate]    Script Date: 2/17/2026 3:06:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_PromptLog_CreatedDate] ON [dbo].[PromptLog]
(
	[CreatedDate] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PromptLog_UserName]    Script Date: 2/17/2026 3:06:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_PromptLog_UserName] ON [dbo].[PromptLog]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [Config].[AppConfig] ADD  CONSTRAINT [DF_AppConfig_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [Config].[AppConfig] ADD  CONSTRAINT [DF_AppConfig_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [Config].[AppConfig] ADD  CONSTRAINT [DF_AppConfig_CreatedBy]  DEFAULT ((1)) FOR [CreatedBy]
GO
ALTER TABLE [Config].[AppConfig] ADD  CONSTRAINT [DF_AppConfig_ModifiedBy]  DEFAULT ((1)) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[application_logs] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ChatbotLogs] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [dbo].[EmbeddingProviderConfig] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[EmbeddingProviderConfig] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ErrorLog] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[FileMetadata] ADD  DEFAULT (getdate()) FOR [UploadedDate]
GO
ALTER TABLE [dbo].[LLMProviderConfig] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[LLMProviderConfig] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[PromptLog] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[SensitiveAudit] ADD  DEFAULT (getdate()) FOR [DetectedDate]
GO
ALTER TABLE [dbo].[SensitiveDataRules] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SensitiveDataRules] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[UserPromptLog] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
/****** Object:  StoredProcedure [Config].[DeleteAppConfig]    Script Date: 2/17/2026 3:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create the stored procedure
CREATE PROCEDURE [Config].[DeleteAppConfig]
    @ConfigID INT, -- ID of the configuration to delete
    @UserID INT   -- ID of the user performing the delete operation
AS
BEGIN
    -- Start a transaction
    BEGIN TRANSACTION;

    BEGIN TRY
        -- Delete the configuration
        DELETE FROM [Config].[AppConfig]
        WHERE [ConfigID] = @ConfigID;

        -- Commit the transaction if the operation is successful
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- Rollback the transaction if there is an error
        ROLLBACK TRANSACTION;

        -- Raise an error message
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [Config].[InsertAppConfig]    Script Date: 2/17/2026 3:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Config].[InsertAppConfig]
    @ConfigType NVARCHAR(50),
    @Value NVARCHAR(200),
    @IsActive BIT,
    @Description NVARCHAR(200),
    @ApplicationName NVARCHAR(50),
    @UserID INT
AS
BEGIN
    -- Start a transaction
    BEGIN TRANSACTION;
    
    -- Set IDENTITY_INSERT to ON temporarily to allow explicit insert if needed
    SET IDENTITY_INSERT [Config].[AppConfig] ON; 

    BEGIN TRY
        -- Insert the new row into the AppConfig table
        INSERT INTO [Config].[AppConfig] (
            [ConfigType],
            [Value],
            [IsActive],
            [Description],
            [ApplicationName],
            [CreatedDate],
            [ModifiedDate],
            [CreatedBy],
            [ModifiedBy]
        )
        VALUES (
            @ConfigType,
            @Value,
            @IsActive,
            @Description,
            @ApplicationName,
            GETDATE(),  -- CreatedDate (current date and time)
            GETDATE(),  -- ModifiedDate (current date and time)
            @UserID,    -- CreatedBy (User ID)
            @UserID     -- ModifiedBy (User ID)
        );

        -- Commit the transaction if the insert is successful
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- Rollback the transaction if there is an error
        ROLLBACK TRANSACTION;

        -- Raise an error message
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH

    -- Set IDENTITY_INSERT to OFF after insert
    SET IDENTITY_INSERT [Config].[AppConfig] OFF;
END
GO
/****** Object:  StoredProcedure [Config].[InsertOrUpdateAppConfig]    Script Date: 2/17/2026 3:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Config].[InsertOrUpdateAppConfig]
    @ConfigID INT = NULL, -- NULL for insert, provide ConfigID for update
    @ConfigType NVARCHAR(50),
    @Value NVARCHAR(200),
    @IsActive BIT,
    @Description NVARCHAR(200),
    @ApplicationName NVARCHAR(50),
    @UserID INT
AS
BEGIN 
    -- Start a transaction
    BEGIN TRANSACTION;

    BEGIN TRY
        DECLARE @LastConfigID INT;

        -- Check if the combination of ConfigType and ApplicationName already exists
        DECLARE @ExistingConfigID INT;
        IF EXISTS (SELECT 1 FROM [Config].[AppConfig] WHERE ApplicationName = @ApplicationName)
        BEGIN
            -- If the combination exists, update the existing row
            SELECT @ExistingConfigID = ConfigID FROM [Config].[AppConfig] WHERE ApplicationName = @ApplicationName;

            UPDATE [Config].[AppConfig]
            SET
                [Value] = @Value,
                [IsActive] = @IsActive,
                [Description] = @Description,
                [ModifiedDate] = GETDATE(), -- Update ModifiedDate to current date and time
                [ModifiedBy] = @UserID
            WHERE
                [ConfigID] = @ExistingConfigID;

            -- Set the last ConfigID after update
            SET @LastConfigID = @ExistingConfigID;
        END
        ELSE
        BEGIN
            -- Insert a new row
            INSERT INTO [Config].[AppConfig] (
                [ConfigType],
                [Value],
                [IsActive],
                [Description],
                [ApplicationName],
                [CreatedDate],
                [ModifiedDate],
                [CreatedBy],
                [ModifiedBy]
            )
            VALUES (
                @ConfigType,
                @Value,
                @IsActive,
                @Description,
                @ApplicationName,
                GETDATE(), -- CreatedDate (current date and time)
                GETDATE(), -- ModifiedDate (current date and time)
                @UserID,
                @UserID
            );

            -- Set the last ConfigID after insert
            SET @LastConfigID = SCOPE_IDENTITY(); -- Get the ID of the newly inserted row
        END

        -- Commit the transaction
        COMMIT TRANSACTION;

        -- Return the last ConfigID
        SELECT @LastConfigID AS LastConfigID;
    END TRY
    BEGIN CATCH
        -- Rollback the transaction if there is an error
        ROLLBACK TRANSACTION;

        -- Return 0 in case of error
        SELECT 0 AS LastConfigID;
    END CATCH
	select  @LastConfigID as  LastConfigID
END
GO
/****** Object:  StoredProcedure [Config].[sp_GetAppConfig]    Script Date: 2/17/2026 3:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Config].[sp_GetAppConfig]
    @PageNumber INT = 1,
    @PageSize INT = 10,
    @SortColumn NVARCHAR(50) = 'ConfigID',
    @SortDirection NVARCHAR(4) = 'ASC',
    @DynamicFilters NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Debug logging
    PRINT 'DynamicFilters: ' + ISNULL(@DynamicFilters, 'NULL');
    PRINT 'PageNumber: ' + CAST(@PageNumber AS NVARCHAR(10));
    PRINT 'PageSize: ' + CAST(@PageSize AS NVARCHAR(10));
    PRINT 'SortColumn: ' + @SortColumn;
    PRINT 'SortDirection: ' + @SortDirection;

    -- Handle empty or invalid dynamic filters
    IF LEN(@DynamicFilters) = 0
    BEGIN
        SET @DynamicFilters = NULL;
    END

    -- Split dynamic filters into a table
    DECLARE @FilterList TABLE (ColumnName NVARCHAR(100), ColumnValue NVARCHAR(100));

    IF @DynamicFilters IS NOT NULL
    BEGIN
        -- Split the filter string into a table of ColumnName/ColumnValue pairs
        INSERT INTO @FilterList (ColumnName, ColumnValue)
        SELECT 
            LTRIM(RTRIM(SUBSTRING(value, 1, CHARINDEX('=', value) - 1))),
            LTRIM(RTRIM(SUBSTRING(value, CHARINDEX('=', value) + 1, LEN(value))))
        FROM STRING_SPLIT(@DynamicFilters, ',')
        WHERE CHARINDEX('=', value) > 0;  -- Ensure the filter contains an '=' character
    END

    -- Debug logging: Print the filter list
    --SELECT * FROM @FilterList;

    -- Execute the query
    DECLARE @Sql NVARCHAR(MAX);
    SET @Sql = N'SELECT 
                    [ConfigID],
                    [ConfigType],
                    [Value],
                    [CreatedDate],
                    [ModifiedDate],
                    [CreatedBy],
                    [ModifiedBy]
                FROM 
                    [Config].[AppConfig]
                WHERE 1 = 1';

    -- Add dynamic filters to the WHERE clause
    IF @DynamicFilters IS NOT NULL
    BEGIN
        DECLARE @FilterCondition NVARCHAR(MAX) = '';
        DECLARE @ColumnName NVARCHAR(100);
        DECLARE @ColumnValue NVARCHAR(100);

        DECLARE filter_cursor CURSOR FOR 
        SELECT ColumnName, ColumnValue FROM @FilterList;

        OPEN filter_cursor;
        FETCH NEXT FROM filter_cursor INTO @ColumnName, @ColumnValue;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @FilterCondition = @FilterCondition + ' AND ' + QUOTENAME(@ColumnName) + ' = ''' + @ColumnValue + '''';
            FETCH NEXT FROM filter_cursor INTO @ColumnName, @ColumnValue;
        END

        CLOSE filter_cursor;
        DEALLOCATE filter_cursor;

        SET @Sql = @Sql + @FilterCondition;
    END

    -- Add pagination and sorting
    SET @Sql = @Sql + N' ORDER BY ' + QUOTENAME(@SortColumn) + ' ' + @SortDirection + 
               N' OFFSET (@PageNumber - 1) * @PageSize ROWS FETCH NEXT @PageSize ROWS ONLY';

    -- Debug logging: Print the final query
    PRINT 'Executing query: ' + @Sql;

    -- Execute the query
    EXEC sp_executesql @Sql, 
         N'@PageNumber INT, @PageSize INT', 
         @PageNumber, @PageSize;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetEmbeddingProvider]    Script Date: 2/17/2026 3:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetEmbeddingProvider]
(
    @ProviderName NVARCHAR(100)
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 1 *
    FROM EmbeddingProviderConfig
    WHERE ProviderName = @ProviderName
      AND IsActive = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLLMProvider]    Script Date: 2/17/2026 3:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- GET LLM PROVIDER
CREATE   PROCEDURE [dbo].[sp_GetLLMProvider]
(
    @ProviderName NVARCHAR(100)
)
AS
BEGIN
    SELECT TOP 1 *
    FROM dbo.LLMProviderConfig
    WHERE ProviderName=@ProviderName AND IsActive=1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSensitiveRules]    Script Date: 2/17/2026 3:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- GET SENSITIVE RULES
CREATE   PROCEDURE [dbo].[sp_GetSensitiveRules]
AS
BEGIN
    SELECT * FROM dbo.SensitiveDataRules WHERE IsActive=1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSystemUsage]    Script Date: 2/17/2026 3:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SYSTEM USAGE SUMMARY
CREATE   PROCEDURE [dbo].[sp_GetSystemUsage]
AS
BEGIN
    SELECT ProviderName,ModelName,
           COUNT(*) AS TotalRequests,
           SUM(TokensUsed) AS TotalTokens
    FROM dbo.PromptLog
    GROUP BY ProviderName,ModelName
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserUsage]    Script Date: 2/17/2026 3:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- USER USAGE SUMMARY
CREATE   PROCEDURE [dbo].[sp_GetUserUsage]
(
    @UserName NVARCHAR(200)
)
AS
BEGIN
    SELECT ProviderName,ModelName,
           COUNT(*) AS TotalRequests,
           SUM(TokensUsed) AS TotalTokens
    FROM dbo.PromptLog
    WHERE UserName=@UserName
    GROUP BY ProviderName,ModelName
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertErrorLog]    Script Date: 2/17/2026 3:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertErrorLog]
(
    @UserId NVARCHAR(200) = NULL,
    @ErrorType NVARCHAR(200) = NULL,
    @ErrorMessage NVARCHAR(MAX),
    @StackTrace NVARCHAR(MAX) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        INSERT INTO dbo.ErrorLog
        (
            UserId,
            ErrorType,
            ErrorMessage,
            StackTrace,
            CreatedDate
        )
        VALUES
        (
            @UserId,
            @ErrorType,
            @ErrorMessage,
            @StackTrace,
            GETDATE()
        );

    END TRY
    BEGIN CATCH

        -- If logging itself fails, return error info
        DECLARE @CatchError NVARCHAR(MAX);
        SET @CatchError = ERROR_MESSAGE();

        RAISERROR('Error inserting into ErrorLog: %s', 16, 1, @CatchError);

    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertFileMetadata]    Script Date: 2/17/2026 3:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertFileMetadata]
(
    @FileName NVARCHAR(500),
    @OriginalFileName NVARCHAR(500),
    @FileSize BIGINT,
    @ContentType NVARCHAR(200),
    @FileExtension NVARCHAR(50),
    @FilePath NVARCHAR(1000),
    @Department NVARCHAR(100),
    @FingerPrint NVARCHAR(500),
    @UserId NVARCHAR(200)
)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.FileMetadata
    (
        FileName,
        OriginalFileName,
        FileSize,
        ContentType,
        FileExtension,
        FilePath,
        Department,
        FingerPrint,
        CreatedBy
    )
    VALUES
    (
        @FileName,
        @OriginalFileName,
        @FileSize,
        @ContentType,
        @FileExtension,
        @FilePath,
        @Department,
        @FingerPrint,
        @UserId
    );
END

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertPromptLog]    Script Date: 2/17/2026 3:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- INSERT PROMPT LOG
CREATE   PROCEDURE [dbo].[sp_InsertPromptLog]
(
    @UserName NVARCHAR(200),
    @Provider NVARCHAR(100),
    @Model NVARCHAR(200),
    @Question NVARCHAR(MAX),
    @Response NVARCHAR(MAX),
    @TokensUsed INT = NULL,
    @Department NVARCHAR(100) = NULL
)
AS
BEGIN
    INSERT INTO dbo.PromptLog
    (UserName,ProviderName,ModelName,Question,Response,TokensUsed,Department)
    VALUES
    (@UserName,@Provider,@Model,@Question,@Response,@TokensUsed,@Department)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUserPromptLog]    Script Date: 2/17/2026 3:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_InsertUserPromptLog]
    @UserName NVARCHAR(200),
    @ProviderName NVARCHAR(100),
    @ModelName NVARCHAR(200),
    @Question NVARCHAR(MAX),
    @Response NVARCHAR(MAX),
    @TokensUsed INT = NULL,
    @Department NVARCHAR(100) = NULL
AS
BEGIN
    INSERT INTO PromptLog
    (
        UserName,
        ProviderName,
        ModelName,
        Question,
        Response,
        TokensUsed,
        Department
    )
    VALUES
    (
        @UserName,
        @ProviderName,
        @ModelName,
        @Question,
        @Response,
        @TokensUsed,
        @Department
    )
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpsertLLMProvider]    Script Date: 2/17/2026 3:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---------------------------------------------------------------
-- 8️⃣ STORED PROCEDURES
---------------------------------------------------------------

-- UPSERT LLM PROVIDER
CREATE   PROCEDURE [dbo].[sp_UpsertLLMProvider]
(
    @ProviderName NVARCHAR(100),
    @ModelName NVARCHAR(200),
    @ApiKeyEncrypted NVARCHAR(MAX),
    @EndpointUrl NVARCHAR(500) = NULL,
    @IsActive BIT = 1
)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM dbo.LLMProviderConfig WHERE ProviderName = @ProviderName)
        UPDATE dbo.LLMProviderConfig
        SET ModelName=@ModelName,
            ApiKeyEncrypted=@ApiKeyEncrypted,
            EndpointUrl=@EndpointUrl,
            IsActive=@IsActive
        WHERE ProviderName=@ProviderName
    ELSE
        INSERT INTO dbo.LLMProviderConfig
        (ProviderName,ModelName,ApiKeyEncrypted,EndpointUrl,IsActive)
        VALUES(@ProviderName,@ModelName,@ApiKeyEncrypted,@EndpointUrl,@IsActive)
END
GO
USE [master]
GO
