.login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  gap: 10px;
}

.login-title {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.login-container input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.login-container button {
  padding: 8px;
  border-radius: 8px;
  border: none;
  background: #2d7ff9;
  color: white;
  cursor: pointer;
}

.login-error {
  color: red;
  font-size: 12px;
}
